<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sds.android.ttpod" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="com.baidu.appsearch.extinvoker.LAUNCH"/>
    <application android:allowBackup="true" android:allowTaskReparenting="true" android:exported="true" android:hardwareAccelerated="true" android:icon="@drawable/img_ttpod" android:label="@string/ttpod" android:largeHeap="true" android:name="com.sds.android.ttpod.TTPodApplication" android:process="com.sds.android.ttpod.main" android:taskAffinity="com.sds.android.ttpod.task" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.sds.android.ttpod.EntryActivity" android:noHistory="true" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@style/Theme.SplashActivity" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="com.nd.android.pandahome.widget.category"/>
                <action android:name="com.gau.go.launcherex.gowidget"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sds.android.ttpod.framework.base.Action.start_entry"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ttpod"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.flac"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.FLAC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.ape"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.APE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sds.android.ttpod.player_entry"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sds.android.ttpod.framework.base.Action.start_downloadmanager"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.MainActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.sds.android.ttpod.component.exception.ExceptionSendActivity" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.framework.base.Action.exception_report"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sds.android.ttpod.activities.GuideActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.AudioEffectFragmentActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.ThemeManagementActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.ThemeRankActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.SkinCategoryDetailActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.BackgroundManagementActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.utils.SelectCountryActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:configChanges="keyboard" android:label="@string/ttpod" android:name="com.sds.android.ttpod.activities.SkinInfoActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.SKININFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.tsk"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.TSK"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sds.android.ttpod.activities.PlayingListActivity" android:screenOrientation="portrait" android:theme="@style/Theme.PlayingListActivity"/>
        <activity android:exported="true" android:name="com.sds.android.ttpod.activities.mediascan.MediaScanActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.framework.base.Action.start_media_scan"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sds.android.ttpod.activities.mediascan.MediaScanAnimationActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.mediascan.FilePickerActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.local.MediaPickerActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.mediascan.MediaScanWifiActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.mediascan.setting.MediaScanSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.mediascan.setting.MediaScanExcludeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.mediascan.setting.MediaScanAutoScanActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:icon="@drawable/img_recognizer_song" android:label="@string/search_sound_search" android:name="com.sds.android.ttpod.activities.SoundSearchActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.recognizer"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sds.android.ttpod.activities.setting.SettingEntryActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.HeadsetControlActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.DisplaySettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.DesktopLyricSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.BacklightSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.MoreSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.SongAuditionAndDownloadQualityActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.MvPlayAndDownloadQualityActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.HelpFeedbackActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.FeedbackChatActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.sds.android.ttpod.activities.BackgroundActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.AboutActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.ContactUsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.LyricPictureSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.NotificationSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.AudioFadeSettingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.setting.DownloadLocationActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.login.LoginActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.login.PhoneOrMailLoginActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.login.OverseaLoginActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.UserInfoActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.register.RegisterActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.retrievepassword.PhoneRetrievePasswordActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.retrievepassword.PhoneRetrievePasswordCaptchaActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.retrievepassword.ResetPasswordActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.retrievepassword.RetrievePasswordActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.register.RegisterCaptchaActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.register.RegisterCompleteProfileActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.user.retrievepassword.EmailRetrievePasswordActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.user.retrievepassword.EmailRetrievePasswordCompleteActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.audioeffect.CloudAudioEffectActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.audioeffect.CustomEqualizerActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.audioeffect.EqualizerFragmentActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.audioeffect.ReverbActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.audioeffect.SelectDeleteEffectActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.audioeffect.EffectLevelActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.local.MediaItemSearchActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.local.MediaGroupSearchActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.sds.android.ttpod.component.lockscreen.LockScreenActivity" android:screenOrientation="portrait" android:taskAffinity="com.sds.android.ttpod.lockscreen" android:theme="@style/Theme.LockViewActivity">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.framework.base.Action.lock_screen_activity_entry"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="false" android:name="com.sds.android.ttpod.activities.user.utils.CropImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sds.android.ttpod.activities.soundsearch.SoundSearchResultActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.soundsearch.SoundSearchMultiResultActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.soundsearch.SoundSearchHistoryActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="com.sds.android.ttpod.activities.web.WebActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.version.VersionUpgradeActivity" android:noHistory="true" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@style/Dialog_Transparent"/>
        <activity android:launchMode="singleTask" android:name="com.sds.android.ttpod.activities.version.VersionUpgradeProgressActivity" android:noHistory="true" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@style/Dialog_Transparent"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent100240447"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.sds.android.ttpod.activities.PictureManagerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sds.android.ttpod.activities.user.StaticUserInfoActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.musiccircle.RepostInputActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.sds.android.ttpod.activities.musiccircle.CommentInputActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.sds.android.ttpod.component.scaleimage.ScaleImageActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.sds.android.ttpod.activities.apshare.ApShareEntryActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.sds.android.ttpod.activities.apshare.ApShareChooseActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.sds.android.ttpod.activities.apshare.ApShareReceiveActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.OpenDetailActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.OpenAuthorizeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.TrialActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.OpenActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.TrialDetailActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.UnsubscribeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.UnsubscribeDetailActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.UnSubscribeGuideActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.OrderFlowDetailActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.FaqActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.unicomflow.AttentionActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:alwaysRetainTaskState="true" android:configChanges="keyboardHidden|orientation" android:name="com.sds.android.ttpod.activities.DefaultVideoActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
        <activity android:name="com.sds.android.ttpod.activities.share.ShareSelectActivity" android:theme="@style/Activity_ShareSelect">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.sds.android.ttpod.wxapi.WXEntryActivity" android:theme="@style/Activity_ShareSelect"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.sds.android.ttpod.activities.search.OnlineSearchEntryActivity" android:screenOrientation="portrait" android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.online_search_entry"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"/>
        <service android:exported="true" android:name="com.sds.android.ttpod.framework.support.SupportService" android:process="com.sds.android.ttpod.support"/>
        <receiver android:enabled="true" android:name="com.sds.android.ttpod.framework.support.monitor.MediaButtonReceiver" android:process="com.sds.android.ttpod.support">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.sds.android.ttpod.framework.storage.environment.EnvironmentContentProvider" android:name="com.sds.android.ttpod.framework.storage.environment.EnvironmentContentProvider" android:process="com.sds.android.ttpod.support"/>
        <provider android:authorities="com.sds.android.ttpod.media.mediastore.MediaContentProvider" android:exported="true" android:name="com.sds.android.ttpod.media.mediastore.MediaContentProvider" android:process="com.sds.android.ttpod.support"/>
        <provider android:authorities="com.sds.android.ttpod.framework.modules.search.SearchContentProvider" android:name="com.sds.android.ttpod.framework.modules.search.SearchContentProvider" android:process="com.sds.android.ttpod.support"/>
        <provider android:authorities="com.sds.android.ttpod.framework.storage.database.DownloadContentProvider" android:name="com.sds.android.ttpod.framework.storage.database.DownloadContentProvider" android:process="com.sds.android.ttpod.support"/>
        <receiver android:label="@string/ttpod_4x1" android:name="com.sds.android.ttpod.component.appwidget.DesktopPlayer1" android:process="com.sds.android.ttpod.appwidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/xml_appwidget_info_4x1"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/ttpod_4x2" android:name="com.sds.android.ttpod.component.appwidget.DesktopPlayer2" android:process="com.sds.android.ttpod.appwidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/xml_appwidget_info_4x2"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/ttpod_4x4" android:name="com.sds.android.ttpod.component.appwidget.DesktopPlayer4" android:process="com.sds.android.ttpod.appwidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/xml_appwidget_info_4x4"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/ttpod_5x1" android:name="com.sds.android.ttpod.component.appwidget.DesktopPlayer5x1" android:process="com.sds.android.ttpod.appwidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/xml_appwidget_info_5x1"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/ttpod_5x2" android:name="com.sds.android.ttpod.component.appwidget.DesktopPlayer5x2" android:process="com.sds.android.ttpod.appwidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/xml_appwidget_info_5x2"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sds.android.ttpod.component.video.VideoPlayManager$VideoBroadcastReceiver">
            <intent-filter>
                <action android:name="com.storm.smart.action.TTPOD_VIDEO_FINISH"/>
                <action android:name="com.sds.android.ttpod.video_finished"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="PUSH_APPID" android:value="zgnFAsj6un5zHtsGJl1ti9"/>
        <meta-data android:name="PUSH_APPSECRET" android:value="7zz8NBNtFh83MqvfbShSY"/>
        <meta-data android:name="PUSH_APPKEY" android:value="GpW6Eyah9680ViCbuwxKe7"/>
        <meta-data android:name="PUSH_GROUPID" android:value=""/>
        <activity android:name="com.sds.android.ttpod.activities.ktv.KtvActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:name="com.sds.android.ttpod.activities.ktv.FragmentLoaderActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="com.sds.android.ttpod.activities.mv.MvActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <service android:name="com.sds.android.sdk.core.statistic.SService" android:process="com.sds.android.ttpod.support"/>
        <meta-data android:name="miguopen_appid" android:value="appid:007317470438422765"/>
        <activity android:name="com.sds.android.ttpod.activities.cmmusic.ListenContentActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.cmmusic.listen_content"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sds.android.ttpod.activities.cmmusic.ListenControlActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.cmmusic.listen_control"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sds.android.ttpod.activities.cmmusic.WebViewActivity" android:screenOrientation="portrait" android:theme="@style/Theme.SlidingClosableActivity">
            <intent-filter>
                <action android:name="com.sds.android.ttpod.cmmusic.webview"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
